.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(100% + 40px);
  overflow: auto;
  margin-left: -20px;
  padding: 10px 0;
}

.title {
  text-transform: uppercase;
}

.price {
  font-size: 4rem;
  color: #444;
  margin-top: 1rem;
  font-weight: 300;
  color: var(--color-base);
}

.ul {
  margin-top: 2rem;
}

.li {
  text-align: left;
  margin-top: 1.2rem;
  font-size: 1.5rem;
  list-style-type: none;
}

.iconReg,
.icon {
  vertical-align: middle;
  margin-top: -2px;
  margin-left: -1.1em;
  margin-right: 0.1em;
}

.icon {
  color: var(--color-base);
}

.highlight {
  color: var(--color-base);
}

.purchase {
  background: white;
  position: absolute;
  bottom: -61px;
  z-index: 9;
  width: 100%;
  left: 0;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover,
.boxAlt:hover {
  text-decoration: none;
}

.box:hover .purchase,
.boxAlt:hover .purchase {
  text-decoration: underline;
  color: var(--color-base);
}

.note {
  margin: 20px 0;
}

.box,
.boxAlt {
  cursor: pointer;
  background: linear-gradient(to bottom right, lightgrey 0%, darkgray 100%);
  box-sizing: border-box;
  outline: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  padding: 1px 1px 50px;
  margin: 0 30px;
  position: relative;
  transition:
    box-shadow 200ms ease-in-out,
    transform 200ms ease-in-out;
}

.box {
  background: linear-gradient(
    to bottom right,
    var(--color-highlight) 0%,
    var(--color-base) 100%
  );
  padding: 2px 2px 50px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.18);
}

.box:hover {
  background: linear-gradient(to right, aqua, royalblue, red, royalblue, aqua);
}

.boxAlt:hover,
.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
  animation: loading 2s linear infinite;
  background-size: 300% 100%;
}

.boxInner {
  font-size: 1.8rem;
  background: white;
  display: block;
  padding: 25px;
  position: relative;
  height: 100%;
}

@keyframes loading {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 300% 100%;
  }
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
