.head, .body {
  background: #f6f6f6;
  overflow-x: hidden;
  color: #333;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 10px;
  height: auto;
}

.body {
  font-size: 2rem;
  overflow-y: hidden;
}

.header {
  margin-top: 60px;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
