@import '../_common.scss';

div.textButton {
  cursor: not-allowed;
}

a.textButton:hover {
  background: $blue;
  color: white;
}

.textButton {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 3px 5px;
  margin: -1px 0;
}
