* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

.item {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: lightblue;
  border: 0;
}

.ds-selected {
  outline: 3px solid black;
  outline-offset: 3px;
  color: black;
  font-weight: bold;
}

.container {
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.05);
  border: 5px solid red;
  position: absolute;
  overflow: auto;
  top: 50px;
  left: 50px;
}
