@import '../../_common.scss';

.root {
  @extend .inner;
  width: 180px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 5px;
}

.text {
  align-self: center;
  font-size: .8rem;
}
